/* RESET & STYLES http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ========== FONT ========== */
* {
    font-family: Inter, sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #262626;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    color: #262626;
}

h3 {
    font-size: 1.375rem;
    font-weight: 700;
    color: #262626;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    color: #7c7c7c;
}

img {
    border-radius: 16px;
}

/* ========== BUTTONS ========== */
.button-primary {
    background-color: #2962ee;
    color: #fff;
    font-weight: 600;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button-secondary {
    background-color: #fff;
    color: #2962ee;
    font-weight: 600;
    padding: 0.8rem 1.6rem;
    border: 1.5px solid #2962ee;
    border-radius: 8px;
    cursor: pointer;
}

/* ========== HEADER ========== */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.4rem 4rem;
    border-bottom: 1.5px solid #dbdbdb;
}

header ul {
    display: flex;
    gap: 1rem;
}

header a {
    color: #262626;
}

/* ========== MAIN ========== */
main {
    padding: 6.5rem 4rem;
}

main h1 {
    max-width: 70%;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main__left-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.main__paragraph {
    line-height: 1.6;
    max-width: 60%;
}


/* ========== FEATURES SECTION ========== */
section {
    padding: 6.5rem 4rem;
}

.features-section {
    background-color: #f8fafc;
}

.features-section h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.features__box {
    background-color: #fff;
    border-radius: 4px;
    padding: 3.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;

    width: 33%;
}

.features__paragraph {
    line-height: 1.5;
}

/* ========== HISTORY SECTION ========== */
.history__divs {
    display: flex;
    justify-content: space-between;
}

.history__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.history__text h2 {
    text-align: center;
}

.history__text p {
    max-width: 90%;
    line-height: 1.5;
}

.history__numbers {
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.history__numbers div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history__numbers-span {
    font-size: 2.5rem;
    color: #2962ee;
    font-weight: 600;
}

.history__numbers-paragraph {
    font-size: 0.875rem;
    color: #7c7c7c;
    font-weight: 500;
    text-align: center;
}

/* ========== FOOTER ========== */
footer {
    background-color: #1d293b;
    padding: 2.5rem 4rem 1rem;
}

footer h4,
a,
li {
    color: #fff;
}

footer p {
    color: #fff;
    font-size: 0.875rem;
}

footer span {
    color: #c8c8c8;
}

.footer__upper-section {
    display: flex;
    justify-content: space-between;
}

.footer__lower-section {
    display: flex;
    justify-content: center;

    padding-top: 2.5rem;
    border-top: 1px solid #4b4b4b;
}

.footer__lower-section span {
    font-size: 0.75rem;
}